<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sekolah.admin.system">

    <uses-permission android:name="android.permission.INTERNET" />
    \
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui_admin.data_kepala_sekolah"
            android:label="Data Kepala Sekolah"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui_admin.daftar_kategori" />
        <activity android:name=".ui_admin.add_kategori" />
        <activity android:name=".ui_admin.daftar_pertanyaan" />
        <activity android:name=".ui_admin.add_pertanyaan" />
        <activity android:name=".ui_admin.list_penilaian" />
        <activity android:name=".ui_admin.detail_penilaian" />
        <activity android:name=".Main_kepsek" />
        <activity android:name=".ui_kepsek.daftar_guru" />
        <activity android:name=".ui_kepsek.daftar_kat" />
        <activity android:name=".ui_kepsek.data_pertanyaan" />
        <activity android:name=".ui_kepsek.persentase" />
        <activity android:name=".ui_guru.regis" />
        <activity android:name=".Main_guru" />
        <activity android:name=".ui_guru.data_guru" />
        <activity android:name=".ui_guru.hasil_penilaian"></activity>
    </application>

</manifest>